server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    compatibility-verifier:
      enabled: false
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true

      routes:
        # User Service Routes
        - id: user-service
          uri: http://localhost:8088
          predicates:
            - Path=/user-api/**
          filters:
            - StripPrefix=1

        # Booking Service Routes
        - id: booking-service
          uri: http://localhost:8089
          predicates:
            - Path=/booking-api/**
          filters:
            - StripPrefix=1

        # Driver Service Routes
        - id: driver-service
          uri: http://localhost:8087
          predicates:
            - Path=/driver-api/**
          filters:
            - StripPrefix=1

        # Payment Service Routes
        - id: payment-service
          uri: http://localhost:8086
          predicates:
            - Path=/payment-api/**
          filters:
            - StripPrefix=1

        # Review Service Routes
        - id: review-service
          uri: http://localhost:8077
          predicates:
            - Path=/review-api/**
          filters:
            - StripPrefix=1


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
